<h1 class="center">TODO</h1>
<div *ngIf="todo; else notodo">
	<ul id="check-list-box" class="list-group checked-list-box" *ngFor="let a of todos"> 
		<li class="list-group-item">

			<span style="float:left">{{a.$value}}</span>
				
			<span style="float:right">
				<span class="switch-icon">
						<i class="icon-complete fa fa-square-o" aria-hidden="true"></i>
						<i class="icon-complete fa fa-check-square-o" aria-hidden="true"></i>
				</span>
				
				<i class="icon-delete fa fa-minus-square" aria-hidden="true"></i>
			</span>
		</li>
	</ul>
</div>
<ng-template #notodo>
	<hr>
	<h5>There are nothing to do</h5>
</ng-template>