<div class="clearfix">
	<h1 class="float-left">To-Do</h1> 
	<button class="btn btn-success float-right mt-2" (click)="toggleShow()"><i class="fa fa-plus"></i> Add a TO-DO</button>	
</div>

<div class="input-group mb-2" *ngIf="show">
	<input class="form-control" type="text" [(ngModel)]="newToDo" name="newToDo" placeholder="Please Do The Dishes...">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="addToDo()"><i class="fa fa-check"></i></button>
  </span>
</div>

<table class="table table-striped" *ngIf="todo; else notodo">
	<tbody>
		<tr class="clearfix" *ngFor="let a of todos">
			<td class="float-left">{{a.$value}}</td>
			<td class="float-right">
				<a href="#" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="checkToDo(a.$value, a.$key)">
					<i class="fa fa-check"></i>
				</a>
				<a href="#" class="btn btn-outline-danger btn-sm" (click)="removeToDo(a.$key)">
					<i class="fa fa-minus"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thank you for accomplishing that task !!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<form class="mx-2">
					<div class="form-group">
						<label>Unit</label>
						<select class="form-control" [(ngModel)]="contributionType" name="contributionType" required>
							<option value="resources">resources</option>
							<option value="time">time</option>
						</select>
					</div>
					<div class="form-group">
						<label>Value</label>
						<input type="number" class="form-control" [(ngModel)]="contributionValue" name="contributionValue" required>
					</div>
					<div class="form-group">
						<label>Unit</label>
						<input type="text" class="form-control" [(ngModel)]="contributionUnit" name="contributionUnit" required>
					</div>
				</form>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" id="doneButton">Done</button>
      </div>
    </div>
  </div>
</div>

<ng-template #notodo>
	<hr>
	<h5>There are no to-dos</h5>
</ng-template>
