<div class="row">
	<div class="col-md-9">
		<app-charts></app-charts>
	</div>
	<div class="col-md-3">
		<div class="card bg-light">
  		<div class="card-body">
    		<h4 class="card-title">Resources Summary</h4>
    		<p class="card-text">Balance: {{balance.resource}}</p>
    		<a href="#" class="btn btn-primary">Check out resources feed</a>
  		</div>
		</div>

		<div class="card">
  		<div class="card-body">
    		<h4 class="card-title">Time Summary</h4>
    		<p class="card-text">Balance: {{balance.time}}</p>
    		<a href="#" class="btn btn-primary">Check out time feed</a>
  		</div>
		</div>
	</div>
</div>