<div class="row">
	<div class="col-md-9">
		<app-charts></app-charts>
	</div>
	<div class="col-md-3">
		<div class="card bg-light mb-3">
  		<div class="card-body">
    		<h4 class="card-title">Resources Summary</h4>
    		<p class="card-text">Balance: {{resources | currency:resourceUnit:true }}</p>
    		<a href="#" routerLink="/resources-feed" class="btn btn-dark" skipLocationChange>Check out resources feed</a>
  		</div>
		</div>

		<div class="card text-white bg-dark">
  		<div class="card-body">
    		<h4 class="card-title">Time Summary</h4>
    		<p class="card-text">Balance: {{time}} {{timeUnit}}</p>
    		<a href="#" routerLink="/time-feed" class="btn btn-light" skipLocationChange>Check out time feed</a>
  		</div>
		</div>
	</div>
</div>