
<html>
<style>
.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #683E3E;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #CA1A1A;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: #A52F2F;
}

</style>
<body *ngIf="roomies;else nothing">
    
    <h1>Vertical Scroll Menu</h1>
    
    <div class="vertical-menu">
      <tr *ngFor="let a of roomies">
        <td href="#">{{a.$value}}</td>
      </tr>
    </div>
    
    </body>
<ng-template #nothing>
  <hr>
  <h5>nothing here</h5>

</ng-template>


