<div class="clearfix">
  <h1 class="float-left">Resource Log</h1>   
</div>
<table class="table table-striped" *ngIf="resources; else noresource">
	<tbody>
    <tr class = "clearfix">
      <th>User</th>
      <th>Contribution</th>
      <th>Value</th>
    </tr>
		<tr class="clearfix" *ngFor="let a of resources">

      <td> {{a.user}}</td>
      <td>{{a.name}}</td>
      <td>{{a.unit}}{{a.value}}</td>
			<td class="float-right">
			</td>
		</tr>
	</tbody>
</table>

<ng-template #noresource>
	<hr>
	<h5>There are no resources logged</h5>
</ng-template>